body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper>* {
  flex: 100%;
  padding: 1rem;
}

@media (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}

@media (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}

/* styles décoratifs */

body {
  font-family: sans-serif;
}

.header {
  background: orange;
}

.main {
  background-color: deepskyblue;
}

.aside-1 {
  background-color: gold;
}

.aside-2 {
  background-color: plum;
}

.footer {
  background-color: darkseagreen;
}