.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.container img {
  align-self: stretch;
  justify-self: stretch;
  object-fit: cover;
  max-width: 100%;
}

.portrait {
  grid-row: auto / span 2;
}
